
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
}

.section-gray {
    background-color: $alabaster;
}

.section-spacing {
    padding: 120px 0;
}

.btn-yellow {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: $Tulip_Tree_LightVibrant;
    border-radius: 60px;
}

a {
    cursor: pointer;
}

ul {
    font-size: 1em;
}

.card-icons {
    width: 40px;
    height: 40px;
    color: $yellow_orange;
}

.title-section > span {
    font-size: 1em;
}