// color cube

$alabaster: #f8f8f8;
$deep_cove: #051745;
$daisy_bush: #351ba2;
$scorpion: #5d5c5d;
$purple_heart: #8532e6;
$pale_slate: #bcbbbc;
$yellow_orange: #ffa837;
$science_blue: #0369d7;
$jade: #02ca6b;
$java: #19d5e3;

// median cut

$lucky_point: #1a236c;
$concrete: #f3f3f3;
$victoria: #5b4782;
$regent_gray: #818e9d;
$di_serria: #dd9f4d;

// material design

$P_H_Vibrant: #5926c0;
$S_Muted: #5a5759;
$Jacksons_Purple_DarkVibrant: #2a1999;
$Millbrook_DarkMuted: #594035;
$Tulip_Tree_LightVibrant: #eca447;